

.header {
      width: 1200px;
      margin: 0 auto;
      height: 6.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      width: 6.25rem;
      height: 3.125rem;
}

.logo img{
      height: 100%;
      width: 100%;
}

nav .link {
      vertical-align: middle;
      height: 3.81rem;
      line-height: 3.69rem;
      padding: 1.25em;
}
/* /////////////// 반응형 ///////////////// */


@media screen and (max-width:768px) {
      nav {
            display: none;
      }
      .header {
            width: 100%;
            margin: 0 auto;
            height: 3.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }

}


@media screen and (max-width:414px) {
      nav {
            display: none;
      }

      .header {
            width: 100%;
            margin: 0 auto;
            height: 3.25rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
      }
      
      .logo {
            width: 4.25rem;
            height: 2.125rem;
            margin-left: 1em;
      }
      
      .logo img{
            height: 100%;
            width: 100%;
      }
      
      nav .link {
            vertical-align: middle;
            height: 3.81rem;
            line-height: 3.69rem;
            padding: 1.25em;
      }
      
}
