@value black,dark,primary,secondary,tertiary,border,background,white from '../../common/colors.css';

.subHeader {
      width: 100%;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position:0 75%;
      color: white;

}

.table {
      margin: 0 auto;
      width: 1200px;
      display: table;
      height: 100%;
}

.subTxtBox {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
}

.subTitle {
      font-weight: 900;
      font-size: 4rem;
}

.subSec {
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 3;
}
