.header {
      width: 1200px;
      margin: 0 auto;
      height: 6.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      width: 6.25rem;
      height: 3.125rem;
}

.logo img{
      height: 100%;
      width: 100%;
}

nav .link {
      vertical-align: middle;
      height: 3.81rem;
      line-height: 3.69rem;
      padding: 1.25em;
}